@import "bootstrap-sprockets";
@import "bootswatch/amelia/variables";
@import "bootstrap";
@import "bootswatch/amelia/bootswatch";
header {
    height: 5vh;
}

.show-city-image {
    height: 50vh;
    width: 70vh;
    // border: solid white;
    border-radius: 15px;
    // border-width: 10px;
}

#myCarousel {
    height: 70vh;
    width: 90vh;
}

body {
    text-align: center;
}

.carousel,
.carousel img {
    width: 75%;
    margin: 0 auto;
}

.carousel img {
    height: 400px;
}

.profile-container {
    display: flex;
}

.post {
  width: 40vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10vh;
  border: solid white;
  padding: 10px;
  border-radius: 10px;

}

.posts {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.alert{
  color: white;
}

.logo{
  text-align: left;
}
.header-content {
  text-align: right;
}
