@import "bootstrap-sprockets";
@import "bootswatch/amelia/variables";
@import "bootstrap";
@import "bootswatch/amelia/bootswatch";
header {
    height: 10vh;
}

.btn {
  margin-top: 10px;
}

.show-city-image {
    height: 50vh;
    width: 85vh;
    // border: solid white;
    border-radius: 15px;
    // border-width: 10px;
}

#myCarousel {
    height: 70vh;
    width: 90vh;
}

body {
    text-align: center;
}

.carousel {
  width: 75%;
  margin: 0 auto;
  height: 600px;
}


.carousel img {
    width: 100%;
    margin: 0 auto;
    height: 600px;
}


.profile-container {
    display: flex;
    justify-content: space-around;
}

.post {
  width: 40vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10vh;
  border: solid white;
  padding: 10px;
  border-radius: 10px;
}

p.post {
  word-wrap: break-word;
}

.posts {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.alert{
  color: white;
}

.logo{
  text-align: left;
}
.header-content {
  text-align: right;
}

.post_show {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
hr {
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border-width: 10px;
}
